@import url('https://fonts.googleapis.com/css2?family=UnifrakturCook&display=swap');

span {
    color: #610094;
}

h1{
   color: #c0c0c0;
}

.paddingText{
   margin-right: 3.0rem;
}
.paddingLogo {
    margin-left: 3.0rem;
}
.container-fluid{
    padding-top: 2%;
}
.navbar-nav{
    display: flex;
    align-items: flex-end
}