@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@700&family=Fasthand&display=swap');

@import url('https://fonts.googleapis.com/css2?family=UnifrakturCook&display=swap'); 

@import url("/style/nav.css");
@import url("/style/main.css");
@import url("/style/footer.css");
@import url("/style/mediaqueries.css");
@import url("/style/carousel.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --color-black:#000000;
    --color-violet:#150050;
    --color-violetLigth:#3F0071;
    --color-violetXLigth:#610094;
    list-style: none;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Chivo', sans-serif;
    overflow-x: hidden;
    background: #20002c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #cbb4d4, #20002c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #cbb4d4, #20002c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

 /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.font-gothic {
    font-family: 'UnifrakturCook', cursive;
 
}
